NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPER_ADMIN_EMAIL=
BREVO_API_KEY=
OPENROUTER_API_KEY=
HEYGEN_API_KEY=
HIGGSFIELD_API_KEY=
